@import url(https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo);
@import url('https://fonts.googleapis.com/css?family=Jua|Nanum+Gothic|Nanum+Myeongjo');
@import url(https://fonts.googleapis.com/earlyaccess/hanna.css);
* {
	font-family: 'Nanum Gothic', sans-serif;
	font-family: 'Nanum Myeongjo', serif;
	font-family: 'Jua', sans-serif;
}

h1 {
	font-family: 'Hanna';
}

h3 {
  color: Orchid;
}

.emp {
  color: red;
  font-style: italic;
}

pre {
  background-color:	#F5F5DC;
  color: black;
  font-weight: bold;
}
